build/*

libcaos/vendor/prebuilt/*
!libcaos/vendor/prebuilt/.gitkeep
libcaos/vendor/crow
libcaos/vendor/libpqxx
libcaos/vendor/mariadb-connector-cpp
libcaos/vendor/postgres
libcaos/vendor/redis-plus-plus
