[submodule "libcaos/vendor/crow"]
	path = libcaos/vendor/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "libcaos/vendor/redis-plus-plus"]
	path = libcaos/vendor/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
